/* Global styles */
html {
  background-color: #204051;
}

@font-face {
  src: url(fonts/PT\ Root\ UI_Light.ttf);
  font-family: PT Root;
}

@font-face {
  src: url(fonts/PT\ Root\ UI_Bold.ttf);
  font-family: PT Root Heading;
}

.App {
  text-align: center;
  font-family: PT Root;
}

.Body {
  color:gainsboro;
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: calc(10px + 3vmin);
}

.Container {
  width: 70%;
  margin: auto;
  margin-bottom: 2%;
  animation: fade 500ms ease-in;
  z-index: 1;
}

.Heading {
  color: gainsboro;
  font-family: 'PT Root Heading';
  text-align: left;
}

.Navigation-item {
  color:gainsboro;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 2%;
  text-decoration: underline;
}

.Navbar {
  margin-top: 2%;
  margin: auto;
  width: 100%;
  position: relative;
}

.Navbar-logo {
  vertical-align: middle;
  height: 70px;
  cursor: pointer;
}

.Navbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.Line-separator-vertical {
  height: 2px;
  background-color: gainsboro;
  width: 100%;
}

.Error {
  margin: 10px 0px;
  padding:12px;
}

.Error {
  background-color: #FFD2D2;
  color: #D8000C;
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
}

/* Icons */

.Calculator-arrow-icon {
  margin-top: 2%;
  height: 80px;
}

.Calculator-arrow-icon:hover {
  transform: scale(1.1);
}

/* Main */
.Main-background-video-gif {
  right: 5%;
  top: 20%;
  position: fixed;
  width: 40%;
  z-index: -1;
}

.Main-content-left {
  color: gainsboro;
  font-family: 'PT Root';
  width: 30%;
  position: fixed;              
  margin: 0 auto;
  top: 22%;
  left: 10%;
  animation: fade 1s ease-in;
  padding: 3%;
}

.Main-content-right {
  width: 75%;
  position: fixed;
  right: 0;
}

.Main-button {
  width: 100%;
  height: 70px;
  font-family: 'PT Root';
  font-size: large;
  background-color: #cae8d5;
  border: none;
  border-radius: 5px 25px;
  text-decoration: none;
}

.Main-button:hover {
  background-color: #84a9ac;
}

/* CalculatorChoice */
.CalculatorChoice-container {
  width: 50%;
  margin: auto;
  margin-top: 15%;
}

.CalculatorChoice-privacy-policy-link {
  cursor: pointer;
  text-decoration: underline;
}

.CalculatorChoice-button {
  width: 80%;
  height: 70px;
  font-family: 'PT Root';
  font-size: large;
  background-color: #cae8d5;
  border: none;
  border-radius: 5px 25px;
  text-decoration: none;
  margin-top: 3%;
}

.CalculatorChoice-button:hover {
  background-color: #84a9ac;
}

.CalculatorChoice-button:disabled {
  pointer-events: none;
  background-color: #84a9ac;
}

.CalculatorChoice-checkbox {
  display: none;
}
.CalculatorChoice-checkbox-label {
  transform: scale(1.5); 
  -webkit-transform: scale(1.5);
  font-size: small;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}
.CalculatorChoice-checkbox + .CalculatorChoice-checkbox-label:before {
  content: '';
  background: #84a9ac;
  border-radius: 50%;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 10px; height: 10px;
  padding: 2px; margin-right: 10px;
}
.CalculatorChoice-checkbox:checked + .CalculatorChoice-checkbox-label:after {
  content: "";
  padding: 2px;
  position: absolute;
  width: 1px;
  height: 5px;
  border: solid #3b6978;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  top: 2px; left: 5px;
}


/* GDPRCompliance */
.GDPRCompliance-content {
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: gainsboro;
}

.GDPRCompliance-contact-info {
  font-size: large;
}

.GDPRCompliance-button {
  background-color: #cae8d5;
  margin-top: 6%;
  margin-bottom: 3%;
  height: 70px;
  width: 150px;
  cursor: pointer;
  border: #3b6978 2px solid;
  border-radius: 5%;
}

.GDPRCompliance-button:hover {
  color: gainsboro;
  background-color: #3b6978;
  border: #181A1B 2px solid;
}

/* Calculator */

.Calculator-content-left {
  font-size: calc(1px + 3vmin);
  width: 60%;
  position: fixed;
  left: 0;
}

.Calculator-content-right {
  font-size: small;
  width: 20%;
  position: fixed;
  right: 0;
  padding: 3%;
  border-left: solid #84a9ac 2px;
}

.Calculator-question {
  margin-top: 20%;
}

.Calculator-questionsidebar-item {
  cursor: pointer;
}

.Calculator-feedback-toggle {
  background: transparent;
  font-weight: normal;
  color: gainsboro;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer; 
}

.Calculator-calculate-button {
  background-color: #cae8d5;
  margin-top: 6%;
  margin-bottom: 3%;
  height: 70px;
  width: 150px;
  cursor: pointer;
  border: #3b6978 2px solid;
  border-radius: 5%;
}

.Calculator-calculate-button:hover {
  color: gainsboro;
  background-color: #3b6978;
  border: #181A1B 2px solid;
}

.Calculator-results-container {
  font-size: calc(10px + 2vmin);
  width: 100%;
  border: solid 3px #cae8d5;
  border-radius: 5px 25px;
  margin-top: 2;
  margin-bottom: 4%;
}

.Calculator-resultbar-container {
  background-color: #cae8d5;
  border-radius: 4px 4px 4px 4px;
  margin: 0 auto;
}

.greenbar {
  background-color: green;
  height: 30px;
  border-radius: 4px 4px 4px 4px;
  transition: 1s ease;
  transition-delay: 0.5s;
}

.redbar {
  background-color:#D8000C;
  height: 30px;
  border-radius: 4px 4px 4px 4px;
  transition: 1s ease;
  transition-delay: 0.5s;
}

/* PrivacyPolicy */

.PrivacyPolicy-container {
  text-align: left;
}

.PrivacyPolicy-paragraph {
  font-size: calc(10px + 2vmin);
}

.PrivacyPolicy-button {
  background-color: #cae8d5;
  margin-top: 6%;
  margin-bottom: 3%;
  height: 70px;
  width: 150px;
  cursor: pointer;
  border: #3b6978 2px solid;
  border-radius: 5%;
}

.PrivacyPolicy-button:hover {
  color: gainsboro;
  background-color: #3b6978;
  border: #181A1B 2px solid;
}

/* AboutUs */


.AboutUs-projectinfo-container {
  font-family: PT Root;
  font-size: calc(10px + 2vmin);
  width: 100%;
  border: solid 3px;
  margin-top: 10%;
  margin-bottom: 4%;
  background-color:#c9c9c9;
}

.AboutUs-mathinfo-container {
  font-size: calc(10px + 1vmin);
  width: 100%;
  border: solid 3px;
  margin-top: 5%;
  margin-bottom: 4%;
  background-color:#c9c9c9;
}

.AboutUs-video-container {
  margin-top: 10%;
  position: relative;
  padding-bottom: 56.25%;
}

/* LoadingScreen */

.LoadingScreen-loading-animation {
  margin-top: 10%;
  width: 10vw;
}

/* Fields */

.Calculator-numberfield {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: calc(10px + 2vmin);
  border: none;
  height: 40px;
  max-width: 80%;
  color: gainsboro;
  background-color: #3b6978;
  text-align: center;
}

.Calculator-textareafield {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: calc(10px + 2vmin);
  border: none;
  height: 40px;
  max-width: 80%;
  color: gainsboro;
  background-color: #3b6978;
  text-align: center;
}

.Calculator-comment-field {
  background-color: #3b6978;
  width: 80%;
  height: 50px;
  color: gainsboro;
  font-size: large;
  font-family: 'PT Root';
  border: none;
  padding: 1%;
  resize: none;
  animation: fade-in-move-down 0.5s;
}

.Calculator-comment-field-button {
  background: transparent;
  font-weight: normal;
  color: gainsboro;  
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
  font-size: 0.5em;  
  padding: 15px;
  margin-top: 15px;
}

.Calculator-multiplechoice-button {
  color: gainsboro;
  background-color: #3b6978;
  font-size: calc(5px + 1vmin);
  cursor: pointer;
  height: 50px;
  min-width: 80px;
  margin-top: 2%;
  margin-left: 2%;
  border: none;
  border-radius: 3%;
}

.Calculator-multiplechoice-button:hover {
  color: #204051;
  background-color: #cae8d5;
}

.Calculator-multiplechoice-button-chosen {
  color: #204051;
  background-color: #cae8d5;
  font-size: calc(5px + 1vmin);
  cursor: pointer;
  height: 50px;
  min-width: 80px;
  margin-top: 2%;
  margin-left: 2%;
  border: none;
  border-radius: 3%;
}

.Calculator-multiplechoice-button:focus {
  color: #204051;
  background-color: #cae8d5;
}

.Calculator-sliderfield {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  border-radius: 5px;  
  background: #3b6978;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.Calculator-sliderfield::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #84a9ac;
  cursor: pointer;
}

.Calculator-sliderfield::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #84a9ac;
  cursor: pointer;
}

.Calculator-sliderfield::-moz-range-progress {
  background-color: #84a9ac;
}

/* Animations */
@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeinout {
  0% { opacity: 1; }
  50% { opacity: 0; transform: translateX(-120px);}
  50.1% { transform: translateX(120px);}
  100% { opacity: 1; }
}

@keyframes fadeinoutRight {
  0% { opacity: 1; }
  50% { opacity: 00; transform: translateX(120px);}
  50.1% { transform: translateX(-120px);}
  100% { opacity: 1; }
}

@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Calculator-question-fade {
  opacity: 1;   
}

.Calculator-question-fade-left {
  animation: fadeinout 500ms ease-in-out;  
}

.Calculator-question-fade-right {    
  animation: fadeinoutRight 500ms ease-in-out ;
}

