/* Global styles */
html {
  background-color: #204051;
}

td {
  width:'60px'
}

@font-face {
  src: url(fonts/PT\ Root\ UI_Light.ttf);
  font-family: PT Root;
}

@font-face {
  src: url(fonts/PT\ Root\ UI_Bold.ttf);
  font-family: PT Root Heading;
}

.App {
  text-align: center;
  font-family: PT Root;
}

.Body {
  color:gainsboro;
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: calc(10px + 3vmin)
}

.Container {   
  width: 90%;
  margin: auto;
  margin-bottom: 2%;
  animation: fade 500ms ease-in;
  z-index: 1;
}

.Heading {
  color: gainsboro;
  font-family: 'PT Root Heading';
  text-align: left;
}

.Navigation-item {
  color:white;
  font-size: 1.2rem;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 2%;
  text-decoration: underline;
}

.Navbar {
  margin-top: 2%;
  margin: auto;
  width: 100%;
  position: relative;
}

.Navbar-logo {
  vertical-align: middle;
  height: 70px;
  cursor: pointer;
}

.Navbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.Line-separator-vertical {
  height: 2px;
  background-color: gainsboro;
  width: 100%;
}

.Error {
  margin: 10px 0px;
  padding:12px;
}

.Error {
  background-color: #FFD2D2;
  color: #D8000C;
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
}

/* Icons */

.Calculator-arrow-icon {
  margin-top: .5em;
  height: 80px;
}

@media (hover: hover) {
  .Calculator-arrow-icon:hover {
    transform: scale(1.1);
  }
}

.Calculator-resultbar-icon {
  height: 40px;
  transform: translateY(-.3em);
}

.Main-your-data-icon {
  height: 35px;
  transform: translateY(.4em);
}

.Calculator-choice-icon {
  margin-left: .3em;
  height: 30px;
  transform: translateY(.2em);
}

.Calculator-choice-grayed-out-icon {
  margin-left: .3em;
  height: 30px;
  transform: translateY(.2em);
  opacity: 50%;
}

/* Main */
.Main-container {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;  
}

@media (max-width: 656px) {
  .Main-container {    
    flex-wrap: wrap;
    margin-top: 4em;
  }
}

.Main-background-video-gif {  
  margin-top: 2em; 
  width: 100%;
  z-index: -1; 
}

@media (max-width: 656px) {
  .Main-background-video-gif {    
    width: 40%;
  }
}

.Main-content-left {
  color: gainsboro;
  font-family: 'PT Root';      
  animation: fade 1s ease-in; 
  min-width: 28%;
  max-width: 28rem; 
  margin-top: 8rem;   
  margin-left: 1rem;
  margin-right: 1%;  
}

@media (max-width: 656px) {
  .Main-content-left {      
    margin: auto;    
    margin-top: 1rem;
  }
}

.Main-content-right {   
 
}

.Heading {
  color: gainsboro;
  font-family: 'PT Root Heading';
  text-align: left;
  font-size: 1em;
}

.Main-button {
  width: 100%;
  height: 70px;
  font-family: 'PT Root';
  font-size: large;
  background-color: #cae8d5;
  border: none;
  border-radius: 5px 25px;
  text-decoration: none;
}

.Main-button:hover {
  background-color: #84a9ac;
}

.Main-lead-paragraph {
  text-align: left;
  font-size: 0.5em;
  margin-top: 2rem;
}


/* CalculatorChoice */
.CalculatorChoice-container {  
  max-width: 42rem;
  margin: auto;
  margin-top: 10%;
}

.CalculatorChoice-header {
 font-size: 2rem;
}

.CalculatorChoice-privacy-policy-link {
  cursor: pointer;
  text-decoration: underline;
}

.CalculatorChoice-checkbox {    
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.CalculatorChoice-checkbox:focus {
  outline: 1px solid #3b6978;
  border-radius: 50%; 
}

.CalculatorChoice-checkbox-label {
  font-size: 1rem;
  text-align: left;
  margin-left: 1rem;
}

.CalculatorChoice-checkbox-image {
  width: 2rem;
  height: 2rem;
}

.CalculatorChoice-button {
  width: 100%;
  height: 4rem;
  font-family: 'PT Root';
  font-size: 1.4rem;
  background-color: #cae8d5;
  border: none;
  border-radius: 5px 25px;
  text-decoration: none;
  margin-top: 1em;
}

.CalculatorChoice-button:hover {
  background-color: #84a9ac;
}

.CalculatorChoice-button:disabled {
  pointer-events: none;
  background-color: #84a9ac;
}

.CalculatorChoice-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1em;
}

.CalculatorChoice-checkbox {    
    background: none;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.CalculatorChoice-checkbox:focus {
  outline: 1px solid #3b6978;
  border-radius: 50%;
}

.CalculatorChoice-checkbox-label {
  font-size: 1rem;
}

.CalculatorChoice-checkbox-image {
  width: 2rem;
  height: 2rem;
}


/* GDPRCompliance */
.GDPRCompliance-content {
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: gainsboro;
}

.GDPRCompliance-contact-info {
  font-size: large;
}

.GDPRCompliance-button {
  background-color: #cae8d5;
  margin-top: 6%;
  margin-bottom: 3%;
  height: 70px;
  width: 150px;
  cursor: pointer;
  border: #3b6978 2px solid;
  border-radius: 5%;
}

.GDPRCompliance-button:hover {
  color: gainsboro;
  background-color: #3b6978;
  border: #181A1B 2px solid;
}

/* Calculator */

.Calculator-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.Calculator-content-left {
  font-size: calc(1px + 3vmin);
  width: 36rem; 
  margin:auto;  
  margin-top:8rem; 
}
@media (max-width: 756px) {
  .Calculator-content-left {       
    margin:auto;  
  }
}

.Calculator-content-right {
  font-size: .8rem;
  width: 16rem;  
  padding: 3%;
  border-left: solid #84a9ac 2px;  
}

@media (max-width: 756px) {
  .Calculator-content-right {    
    display: none;
  }
}

.Calculator-question {
  overflow: hidden; 
  margin-top: 1rem;
}

.Calculator-question-header {
  font-size: 1em;
  margin-bottom: 2rem;
}

.Calculator-questionsidebar-item {
  cursor: pointer;
}

.Calculator-feedback-toggle {
  background: transparent;
  font-weight: normal;
  color: gainsboro;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer; 
  margin: 1.5rem;
}

.Calculator-feedback-header {
  font-size: 1em;
  font-weight: normal;
  margin-top: 0;
}

.Calculator-calculate-button {
  background-color: #cae8d5;
  margin-top: 1rem;
  margin-bottom: 3%;
  height: 70px;
  width: 150px;
  cursor: pointer;
  border: #3b6978 2px solid;
  border-radius: 5%;
}

.Calculator-calculate-button:hover {
  color: gainsboro;
  background-color: #3b6978;
  border: #181A1B 2px solid;
}

.Calculator-results-container {
  margin-top: 5em;
  font-size: calc(10px + 2vmin);
  width: 100%;
  border-radius: 5px 25px;
  display: flex;
}

@media(max-width:860px) {
  .Calculator-results-container {
    flex-wrap: wrap;
  }
  .Calculator-results-left {
    margin-left: 3.5em;
  }
  .Calculator-results-right {
    margin-right: 2.5em;
  }
  .Calculator-results-divider {
    display: none;
  }
}

.Calculator-results-left {
  text-align: left;
  width: 100%;
  color: #cae8d5;
}

.Calculator-results-result-title {
  transform: translateY(-1em);
}

.Calculator-results-divider {
  width: 10%;
  border-right: solid 2px #cae8d5;
}

.Calculator-results-money-inline {
  display: flex;
  align-items: center;
  height: 1.5em;
}

.Calculator-result-countup {
  font-size: calc(10px + 3vmin);
  font-family: PT Root Heading;
  margin-bottom: 1.5em;
}

.Calculator-results-right {
  margin-left: 1em;
  width: 100%;
  max-width: 600px;
  margin-top: 10%;
  color: #cae8d5;
}

.Calculator-results-slidertext {
  transform: translateY(-1em);
}

.Calculator-results-resultbars {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

.Calculator-resultbar-container {
  background-color: #cae8d5;
  border-radius: 4px 4px 4px 4px;
  margin: 0 auto;
  transform: translateY(-.3em);
}

.greenbar {
  background-color: green;
  height: 50px;
  border-radius: 4px 4px 4px 4px;
  transition: 1s ease;
  transition-delay: 0.5s;
}

.redbar {
  background-color:#D8000C;
  height: 50px;
  border-radius: 4px 4px 4px 4px;
  transition: 1s ease;
  transition-delay: 0.5s;
}

.Calculator-stepper-container {
  position: fixed;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 756px) {
  .Calculator-stepper-container {
    display: none;
  }
}

@media (max-height: 480px) {
  .Calculator-stepper-container {
    display: none;
  }
}

.Calculator-stepper {   
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  margin: auto; 
  padding: 0;
}

.Calculator-stepper li{
  list-style-type: none;  
  height: 10px;
  width: 10px;   
  background-color:#3b6978;
  border-radius: 50%;
}

.Calculator-stepper li.active {
  background-color: #cae8d5;
}



.greenbar {
  background-color: green;
  height: 30px;
  border-radius: 4px 4px 4px 4px;
  transition: 1s ease;
  transition-delay: 0.5s;
}

.redbar {
  background-color:#D8000C;
  height: 30px;
  border-radius: 4px 4px 4px 4px;
  transition: 1s ease;
  transition-delay: 0.5s;
}

/* PrivacyPolicy */

.PrivacyPolicy-container {
  text-align: left;
  margin: auto;
  max-width: 80rem;
  font-size: 1rem;
}

.PrivacyPolicy-paragraph {
  font-size: calc(10px + 1vmin);
}

.PrivacyPolicy-button {
  background-color: #cae8d5;
  margin-top: 6%;
  margin-bottom: 3%;
  height: 70px;
  width: 150px;
  cursor: pointer;
  border: #3b6978 2px solid;
  border-radius: 5%;
}

.PrivacyPolicy-button:hover {
  color: gainsboro;
  background-color: #3b6978;
  border: #181A1B 2px solid;
}

/* AboutUs */


.AboutUs-projectinfo-container {
  font-family: PT Root;
  font-size: calc(10px + 2vmin);
  width: 100%;
  border: solid 3px;
  margin-top: 10%;
  margin-bottom: 4%;
  background-color:#c9c9c9;
}

.AboutUs-mathinfo-container {
  font-size: calc(10px + 1vmin);
  width: 100%;
  border: solid 3px;
  margin-top: 5%;
  margin-bottom: 4%;
  background-color:#c9c9c9;
}

.AboutUs-video-container {
  margin-top: 10%;
  position: relative;
  padding-bottom: 56.25%;
}

/* LoadingScreen */

.LoadingScreen-loading-animation {
  margin-top: 10%;
  width: 10vw;
}

/* Newsletter */

.Newsletter-box {
  position: fixed;
  color: white;
  background: #3b6978;
  padding: 2rem;  
  width: 60%;    
  max-height: 12rem;
  bottom: 1rem; 
  left: 15%; 
  border-radius: 5px;  
  animation: move-up 300ms linear;
  z-index:1;
}

.Newsletter-box-icon {
  position: absolute;
  top: -1rem; 
  left: -1rem; 
  background-color: gainsboro;
  border-radius: 50%;
  padding: 1rem;
  max-width: 2rem;
}

.Newsletter-box-header {
  font-size: 2rem;
  margin-top: 0;
}
.Newsletter-box-paragraph {
  font-size: 1rem;
}

.Newsletter-box-close-button {
  cursor: pointer;
  background-color: transparent;  
  position: absolute;
  top:0;
  right:0;
  border: 0px solid transparent;  
  font-size: 2rem;
  color: gainsboro;
}

.Newsletter-send-button {
  background-color: #cae8d5; 
  height: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 80%;
  cursor: pointer;
  border: #3b6978 2px solid;
  border-radius: 5px;
}

.Newsletter-send-button:hover {
  color: gainsboro;
  background-color: #3b6978;
  border: #181A1B 2px solid;
}

.Newsletter-field-label {
  font-size: 1rem;
}

.Newsletter-field { 
    font-size: 1rem;
    border: none;
    height: 2rem;  
    width: 19rem;  
    max-width: 90%;
    background-color: gainsboro;
    text-align: center;
    border-radius: 5px;  
    margin: 1rem;
}


/* Fields */

.Calculator-numberfield {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: calc(10px + 2vmin);
  border: none;
  height: 40px;
  max-width: 80%;
  color: gainsboro;
  background-color: #3b6978;
  text-align: center;
  border-radius: 5px;
}

.Calculator-textfield {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: calc(10px + 2vmin);
  border: none;
  height: 40px;
  max-width: 80%;
  color: gainsboro;
  background-color: #3b6978;
  text-align: center;
  border-radius: 5px;
}

.Calculator-textAreafield { 
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  height: 7rem;
  width: 80%;
  color: gainsboro;
  background-color: #3b6978;
  resize: none;
  border-radius: 5px;
}

.Calculator-comment-field {
  background-color: #3b6978;
  width: 80%;
  height: 50px;
  color: gainsboro;
  font-size: large;
  font-family: 'PT Root';
  border: none;
  padding: 1%;
  resize: none;
  animation: fade-in-move-down 0.5s;
}

.Calculator-comment-field-button {
  background: transparent;
  font-weight: normal;
  color: gainsboro;  
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
  font-size: 0.5em;  
  padding: 15px;
  margin-top: 15px;
}

.Calculator-multiplechoice-button {
  color: gainsboro;
  background-color: #3b6978;
  font-size: calc(5px + 1vmin);
  cursor: pointer;
  height: 50px;
  min-width: 80px;
  margin-top: 2%;
  margin-left: 2%;
  border: none;
  border-radius: 3%;
}

.Calculator-multiplechoice-button:hover {
  color: #204051;
  background-color: #cae8d5;
}

.Calculator-multiplechoice-button-chosen {
  color: #204051;
  background-color: #cae8d5;
  font-size: calc(5px + 1vmin);
  cursor: pointer;
  height: 50px;
  min-width: 80px;
  margin-top: 2%;
  margin-left: 2%;
  border: none;
  border-radius: 3%;
}

.Calculator-multiplechoice-button:focus {
  color: #204051;
  background-color: #cae8d5;
}

.Calculator-sliderfield-container {
  width: 70%;
  margin: auto;
}

.Calculator-sliderfield {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #3b6978;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.Calculator-sliderfield::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #84a9ac;
  cursor: pointer;
}

.Calculator-sliderfield::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #84a9ac;
  cursor: pointer;
}

.Calculator-sliderfield::-moz-range-progress {
  background-color: #84a9ac;
}

.Calculator-sliderfield-tick {
  -webkit-appearance: none;
  border-left: 2px solid gainsboro;
  height:10px;
  margin-top: none;
}

.Calculator-sliderfield-label {
  font-size: 1em;
  margin: 0.7rem;
}

/* SignIn */
.SignIn-label {
  font-size: calc(10px + 2vmin);
}

.SignIn-passwordfield {
  -webkit-appearance: none;
  font-size: calc(10px + 2vmin);
  border: none;
  height: 50px;
  max-width: 80%;
  color: gainsboro;
  background-color: #3b6978;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1em;
}

.SignIn-emailfield {
  -webkit-appearance: none;
  font-size: calc(10px + 2vmin);
  border: none;
  height: 50px;
  max-width: 80%;
  color: gainsboro;
  background-color: #3b6978;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1em;
}

.SignIn-button {
  margin-top: 2em;
  width: 30%;
  height: 70px;
  font-family: 'PT Root';
  font-size: large;
  background-color: #cae8d5;
  border: none;
  border-radius: 5px 25px;
  text-decoration: none;
}

.SignIn-button:hover {
  background-color: #84a9ac;
}

/* Animations */
@keyframes move-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeinout {
  0% { opacity: 1; }
  50% { opacity: 0; transform: translateX(-3em);}
  50.1% { transform: translateX(3em);}
  100% { opacity: 1; }
}

@keyframes fadeinoutRight {
  0% { opacity: 1; }
  50% { opacity: 00; transform: translateX(3em);}
  50.1% { transform: translateX(-3em);}
  100% { opacity: 1; }
}

@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Calculator-question-fade {
  opacity: 1;   
}

.Calculator-question-fade-left {
  animation: fadeinout 500ms ease-in-out;  
}

.Calculator-question-fade-right {    
  animation: fadeinoutRight 500ms ease-in-out ;
}

