html {
  background-color: #1d3d51;
}

@font-face {
  src: url(fonts/PT\ Root\ UI_Light.ttf);
  font-family: PT Root;
}

.App {
  text-align: center;
  font-family: PT Root;
}

.Violet {
  color: #AE19AA;
}

.Body {
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: calc(10px + 3vmin);
}

.Container {
  width: 70%;
  margin: auto;
  margin-bottom: 5%;
}

.Heading {
}

.Spacer-vertical {
  height: 50px;
  width: 100%;
}

.Background-video-main {
  width: 50%;
  height: 50%;
  position: fixed;
  right: 0;
  opacity: 100%;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.Content-main {
  font-size: large;
}

.Content-main-left {
  color: gainsboro;
  font-family: 'PT Root';
  width: 40%;
  position: fixed;
  text-align: left;
  top: 22%;
  left: 10%;
  animation: fade 1s ease-in;
  padding: 3%;
}

.Content-main-right {
  width: 75%;
  position: fixed;
  right: 0;
}

.Content-gdprCompliancy {
  text-align: left;
  font-size: calc(10px + 2vmin);
}

.Content-companies-left {
  margin-top: 5%;
  font-size: calc(1px + 3vmin);
  width: 60%;
  float: left;
}

.Content-companies-right {
  font-size: small;
  margin-top: 9%;
  width: 20%;
  float: right;
  padding: 3%;
  border-left: solid #181A1B 2px;
}

.Project-info {
  font-family: PT Root;
  font-size: calc(10px + 2vmin);
  width: 100%;
  border: solid 3px;
  margin-top: 10%;
  margin-bottom: 4%;
  background-color:#c9c9c9;
}

.Contact-info {
  font-size: large;
}

.Math-info {
  font-size: calc(10px + 1vmin);
  width: 100%;
  border: solid 3px;
  margin-top: 5%;
  margin-bottom: 4%;
  background-color:#c9c9c9;
}

.Video-container {
  margin-top: 10%;
  position: relative;
  padding-bottom: 56.25%;
}

.Box {
  margin: auto;
  font-family: PT Root;
  font-size: calc(10px + 3vmin);
  color: white;
  background: #2196F3;
  padding: 1em;
  margin: auto;
  width: 40%;
  height: 20px;
  box-shadow: 15px 15px #181A1B;
}

.Results {
  font-size: calc(10px + 2vmin);
  width: 100%;
  border: solid 3px;
  margin-top: 2;
  margin-bottom: 4%;
  background-color:#c9c9c9;
}

.Toggle-Button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.Toggle-Button:focus {
  outline: none;
}

.Toggle-Button-line {
  width: 40px;
  height: 3px;
  background: gainsboro;
}

.Navbar {
  margin-top: 3%;
  margin: auto;
  width: 100%;
  height: 80px;
  position: relative;
}

.Navbar-logo {
  vertical-align: middle;
  height: 70px;
  cursor: pointer;
}

.Navbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.Navbar-item {
  color: #2196F3;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.Navbar-item:hover,
.Navbar-item:active {
  color: white;
  cursor: pointer;
}

.Navbar-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Navbar-spacer {
  flex: 1;
}

.Backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.Side-Drawer {
  height: 100vh;
  background-color: #181A1B;
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.Side-Drawer.open {
  transform: translateX(0);
}

.Side-Drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Side-Drawer-item {
  text-align: left;
  color: #2196F3;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: calc(15px + 1vmin);
  padding: 1rem;
}

.Side-Drawer-item:hover, 
.Side-Drawer-item:active {
  color: white;
}

.Side-Drawer li {
  margin: 0.5rem 0;
}

@media (max-width: 800px) {
  .Navbar-items {
    display: none;
  }
}

@media (min-width: 800px) {
  .Toggle-Button {
    display: none;
  }
}

@media (max-width: 850px) {
  .Content-companies-right {
    display: none;
  }

  .Content-companies-left {
    width: 100%;
  }
}

.Question {
  margin-top: 5%;
}

.QuestionSidebar-item {
  cursor: pointer;
}

.Line-separator-full {
  height: 2px;
  background-color: #181A1B;
  width: 100%;
}

.Loading-animation {
  margin-top: 10%;
  width: 10vw;
}

.NumberField {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: calc(10px + 2vmin);
  border: none;
  height: 40px;
  max-width: 80%;
  color: white;
  background-color: #181A1B;
  text-align: center;
}

.PrivacyPolicyBar {
  position: fixed;
  bottom: 0;
  height: 150px;
  width: 100%;
  background-color: #3b6978;
  color: white;
  font-size: calc(1px + 2vmin);
}

.Button-privacyPolicyBar {
  width: 100px;
  height: 60px;
  border: none;
  border-radius: 5%;
}

.Button-privacyPolicyBar:hover {
  border: solid #2196F3 2px;
}

.Button-accept-privacy-policy {
  width: 150px;
  height: 70px;
  border: none;
  border-radius: 5%;
  margin-top: 5%;
}

.Button-accept-privacy-policy:hover {
  background-color: #2196F3;
  border: #181A1B 2px solid;
}

.PrivacyPolicy-left {
  position: fixed;
  left: 5%;
  top: 50%;
}

.PrivacyPolicy-center {
  font-size: calc(1px + 2vmin);
}

.PDF {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.PrivacyPolicy-right {
  position: fixed;
  right: 5%;
  top: 50%;
}

.Choice-button {
  font-size: calc(5px + 1vmin);
  cursor: pointer;
  height: 50px;
  min-width: 80px;
  margin-top: 2%;
  margin-left: 2%;
  border: none;
  border-radius: 3%;
}

.Laske-button {
  margin-top: 6%;
  margin-bottom: 3%;
  height: 70px;
  width: 150px;
  cursor: pointer;
  border: #2196F3 2px solid;
  border-radius: 5%;
}

.Laske-button:hover {
  background-color: #2196F3;
  border: #181A1B 2px solid;
}

.Choice-button:hover {
  background-color: #2196F3;
}

.Choice-button:focus {
  background-color: #2196F3;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  border-radius: 5px;  
  background: #181A1B;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #2196F3;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2196F3;
  cursor: pointer;
}

.slider::-moz-range-progress {
  background-color: #2196F3;
}

.TextArea-field {
  background-color: #181A1B;
  width: 80%;
  max-height: 200px;
  min-height: 100px;
  color: white;
  font-size: large;
  border: none;
  padding: 1%;
}

.Arrow-icon {
  margin-top: 5%;
  height: 60px;
}

.Arrow-icon:hover {
  transform: scale(1.1);
}

.question-fade {
  opacity: 1;   
}

.question-fade-left {
  animation: fadeinout 500ms ease-in-out;  
}

.question-fade-right {    
  animation: fadeinoutRight 500ms ease-in-out ;
}

@keyframes fadeinout {
  0% { opacity: 1; }
  50% { opacity: 0; transform: translateX(-120px);}
  50.1% { transform: translateX(120px);}
  100% { opacity: 1; }
}
@keyframes fadeinoutRight {
  0% { opacity: 1; }
  50% { opacity: 00; transform: translateX(120px);}
  50.1% { transform: translateX(-120px);}
  100% { opacity: 1; }
}

.Error, .Success {
  margin: 10px 0px;
  padding:12px;
}

.Error {
  background-color: #FFD2D2;
  color: #D8000C;
}

.Success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
