html {
  background-color: #c9c9c9;
}

@font-face {
  src: url(fonts/Dear\ Sunshine.ttf);
  font-family: Dear Sunshine;
}

@font-face {
  src: url(fonts/Alexis\ Marie.ttf);
  font-family: Alexis Marie;
}

.App {
  text-align: center;
  font-family: monospace;
  background-color: #c9c9c9;
}

.Alexis-Marie {
  font-family: Alexis Marie;
}

.Body {
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: calc(10px + 3vmin);
  background-color: #c9c9c9;
}

.Container {
  width: 70%;
  margin: auto;
  color: black;
}

.Spacer-vertical {
  height: 50px;
  width: 100%;
  background-color: #c9c9c9;
}

.Project-info {
  font-family: Arial;
  font-size: calc(10px + 2vmin);
  width: 100%;
  border: solid 3px;
  margin-top: 10%;
  margin-bottom: 4%;
  background-color:#c9c9c9;
}

.Math-info {
  font-size: calc(10px + 1vmin);
  width: 100%;
  border: solid 3px;
  margin-top: 5%;
  margin-bottom: 4%;
  background-color:#c9c9c9;
}

.Video-container {
  margin-top: 10%;
  position: relative;
  padding-bottom: 56.25%;
}

.Box {
  margin: auto;
  font-family: Dear Sunshine;
  font-size: calc(10px + 3vmin);
  color: white;
  background: #4CAF50;
  padding: 1em;
  margin: auto;
  width: 40%;
  height: 20px;
  box-shadow: 15px 15px black;
}

.Toggle-Button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.Toggle-Button:focus {
  outline: none;
}

.Toggle-Button-line {
  width: 40px;
  height: 3px;
  background: gainsboro;
}

.Navbar {
  margin-top: 3%;
  margin: auto;
  width: 100%;
  height: 80px;
  position: relative;
  background-color: #181A1B;
}

.Navbar-logo {
  vertical-align: middle;
  height: 70px;
  cursor: pointer;
}

.Navbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.Navbar-item {
  color: #4CAF50;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.Navbar-item:hover,
.Navbar-item:active {
  color: white;
  cursor: pointer;
}

.Navbar-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Navbar-spacer {
  flex: 1;
}

.Backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.Side-Drawer {
  height: 100vh;
  background-color: #181A1B;
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.Side-Drawer.open {
  transform: translateX(0);
}

.Side-Drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Side-Drawer-item {
  text-align: left;
  color: #4CAF50;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: calc(15px + 1vmin);
  padding: 1rem;
}

.Side-Drawer-item:hover, 
.Side-Drawer-item:active {
  color: white;
}

.Side-Drawer li {
  margin: 0.5rem 0;
}

@media (max-width: 700px) {
  .Navbar-items {
    display: none;
  }
}

@media (min-width: 700px) {
  .Toggle-Button {
    display: none;
  }
}

.Question {
  margin-top: 5%;
}

.Line-separator-full {
  height: 2px;
  background-color: black;
  width: 100%;
}

.Loading-animation {
  margin-top: 10%;
  width: 10vw;
}

.NumberField {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: calc(10px + 2vmin);
  border: none;
  height: 40px;
  color: white;
  background-color: #181A1B;
}

.Choice-button {
  font-size: calc(5px + 1vmin);
  cursor: pointer;
  height: 50px;
  min-width: 80px;
  margin-top: 2%;
  margin-left: 2%;
  border: none;
  border-radius: 3%;
}

.Laske-button {
  margin-top: 6%;
  margin-bottom: 3%;
  height: 70px;
  width: 150px;
  cursor: pointer;
  border: #4CAF50 2px solid;
  border-radius: 5%;
}

.Laske-button:hover {
  background-color: #4CAF50;
  border: black 2px solid;
}

.Choice-button:hover {
  background-color: #4CAF50;
}

.Choice-button:focus {
  background-color: #4CAF50;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  border-radius: 5px;  
  background: #181A1B;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-progress {
  background-color: #4F8F07;
}
