.bar-div {
    background-color: #cae8d5;
    border-radius: .5rem;
}

.greenbar {
    background-color: green;
    height: 10px;
    border-radius: 1rem;
    transition: 1s ease;
    transition-delay: 0.5s;
}

.redbar {
    background-color: red;
    height: 10px;
    border-radius: 1rem;
    transition: 1s ease;
    transition-delay: 0.5s;
}